.mobile--nav {
    width: 80%;
    margin-top: 50px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;


    li {
        list-style-type: none;
        padding: 20px 0;
        

        a {
            text-decoration: none;
            
    
            button.mobile--nav-btn {
                background-color: $dark-grey;
                padding: 15px;
                font-size: 20px;
                border: none;
                color: $beige; 
                border-radius: 3px;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                cursor: pointer;
                
                
            }
        }
    }

    

    
    ul {
        list-style-type: none;  
    }

    @media screen and (min-width: $tablet) {
        display: none;        
    }
}