// MAIN COLORS
//

$black: #0B0C0D;
$white: #fff;
$dark-grey: #222626;
$grey: #707070;
$beige: #D9CBBA;



body {
    background: $black;
    color: white;
}
// MAIN COMPONENT

main {
    color: white;
}